extends ../../layout

block content

  .page_body.padding_top_header
    // Reset password | Sent
    section.sign_up_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 CONGRATULATIONS!
        .ta_c.mwidth_320
          .massage_icn.icon-icon_main_07
          |                     Your password has been sent successfully.
        br
        .mwidth_320
          .btn_color_fill
            a(href='/users/login', title='go to main page bench805.com') Ok
