extends ../../layout

block content

  .page_body.padding_top_header
    // Reset password
    section.sign_up_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 Reset Your password
        br

        !=messages()

        .mwidth_320
          form.form_reset_password.form_style_1(action='/savepassword', novalidate='novalidate' method="post")
            div
              input#password(type='password', placeholder='Password', name='password', required='', aria-required='true')
            div
              input(type='password', placeholder='Confirm password', name='password2', required='', aria-required='true')
            input(type='hidden', name='token', value='#{token ? token : ""}')
            .form_footer
              .form_footer_btns
                .btn_color_fill
                  button(type='submit') Send
