extends ../../layout

block content

  .page_body.padding_top_header
    // Activation Email | Sent
    section.sign_up_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 Sign Up confirmation
        .ta_c.mwidth_320
          .massage_icn.icon-icon_main_07
          |                     For your security and privacy confirmation email sent to your mailbox.
