extends ../../layout

block content

  .page_body.padding_top_header
    // Reset password | Sent
    section.sign_up_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 CONGRATULATIONS!
        .ta_c.mwidth_320
          |                     Your account has been activated.
        br
        .mwidth_320
          .btn_color_fill
            a(href='/users/login', title='go to login page') Login
