extends ../layout

block content

  .page_body.padding_top_header
    // Privacy Policy
    section.privacy_policy_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 Privacy Policy
        br
        .text_box.ta_j
          p We thank you for reviewing our privacy policy, and know that you will check back for any updates, on your future visits.  We look forward to helping you. We respect your privacy, and intend our site to be a safe place for everyone who visits and corresponds with us. This notice explains how we protect your privacy and treat your personal information. It applies to current and former customers. &quot;Personal information&quot; here means anything we know about you personally.
          .hn3
            h3 How We Get Your Information
          p When you visit our web site you may provide us with two types of information: personal information you knowingly choose to disclose that is collected on an individual basis and web site use information collected on an aggregate basis as you and others browse our web site. If you choose to correspond further with us through e-mail, we may retain the content of your e-mail message together with your e-mail address and our responses. We provide the same protections for these electronic communications that we employ in the maintenance of information received by mail and telephone.
          .hn3
            h3 Using Your Information
          p We collect your personal information to help us decide if you&apos;re eligible for our products or services. We may also need it to verify identities to help deter fraud, money laundering, or other crimes. How we use this information depends on what products and services you have or want from us. It also depends on what laws apply to those products and services. For example, we may also use your information to:
          ul.list_v1
            li process claims and other transactions
            li perform business research
            li confirm or correct your information
            li market new products to you
            li help us run our business
            li comply with applicable laws
          .hn3
            h3 Opting Out
          p You may tell us not to share your information with our affiliates for their own marketing purposes or unaffiliated business partners as part of a joint marketing arrangement. You should recognize, however, that there is no such thing as perfect security on the Internet. Please do note that we could merge with or be acquired by another business entity at any time. Should such a combination occur, you should expect that we would share some or all of your information in order to continue to provide services. You can &quot;opt out&quot; any time by contacting us at:
            br
            a(href='mailto:info@bench805.com', title='info@bench805.com') info@bench805.com
          .hn3
            h3 Non-Personal User Content
          p We may use user submitted content such as ratings, reviews, feedback (&quot;User Content&quot;) in a number of different ways, including displaying it on the Website, reformatting it, incorporating it into other works, creating derivative works from it, promoting it, or distributing it. Accordingly, you irrevocably grant us permission to use your User Content for any purpose. You also irrevocably grant the Website users the right to access User Content in connection with their use of the Website. While you are using our websites, we may also collect certain non-personally-identifiable information about you, such as the URL you just came from, the next URL you go to, what browser you are using (e.g. Chrome, Internet Explorer), the domain name of your Internet Service Provider, and your IP address.
          p You assume all risks associated with User Content, including reliance on its accuracy, completeness or usefulness, or any disclosure by you of information in your User Content that makes you personally identifiable. You may not imply that User Content is in any way sponsored or endorsed by us.
          p We cannot and do not review all User Content feedback, nor do we have any control over the same. Under no circumstances shall we be held responsible or liable for any claims or damages arising out of any reviews or feedback.
          p Owner may remove, edit or reinstate User Content at our sole discretion.
          .hn3
            h3 Cookies
          p We use cookies and log files to: (a) store information so that you will not have to re-enter it during your next visit to the Website; (b) provide custom, personalized content and information; (c) monitor the effectiveness of our services; and (d) monitor metrics such as total number of visitors and pages viewed.
          .hn3
            h3 Keep Your Wits About You&mldr;
          p Never assume that people are who they say they are, know what they say they know, or are affiliated with whom they say they are affiliated with in any forum or user-generated content area. Information obtained in a forum may not be reliable. We cannot be responsible for the content or accuracy of any information, and shall not be responsible for any decisions made based on such information.  Please keep in mind that whenever you give out personal information online --- for example, via message boards or chat --- that information can be collected and used by people you don&rsquo;t know. While we strive to protect your personal information and privacy, we cannot guarantee the security of any information you disclose online; you make such disclosures at your own risk.
          p Please also exercise discretion while browsing the Internet. You should be aware that when you are on our website, you could be directed to other sites that are beyond our control. There are links to other sites from our website pages that take you outside of our service. For example, if you click on a banner advertisement or a search result, the click may take you off the website. This includes links from advertisers, sponsors, and content partners that may use our logo(s) as part of a co-branding agreement. These other sites may send their own cookies to users, collect data, solicit personal information, or contain information that you may find inappropriate or offensive. In addition, advertisers may send cookies to users that we do not control. We reserve the right to disable links from any third party sites at any time.
          p We do not make any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) you might be requested to give.  We strongly encourage you to make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction.
          p You are entirely responsible for maintaining the confidentiality of your information and for all activities that occur under your account. You hereby indemnify, defend and hold us and our affiliates and our officers, directors, owners, agents, information providers, affiliates, licensors and licensees (collectively, the Indemnified Parties) harmless from and against any and all liabilities and costs (including reasonable attorneys&rsquo; fees) incurred by the Indemnified Parties in connection with any claim arising out of any breach by you of this Agreement or claims arising from your account. You shall use your best efforts to cooperate with us in the defense of any claim. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you.
          .hn3
            h3  Questions
          p We want you to understand how we protect your privacy. If you have any questions about this notice, please contact us. When you write, include your name, address, and policy or account number.
          .hn3
            h3  Send privacy questions to:
          a(href='mailto:info@bench805.com', title='info@bench805.com') info@bench805.com
          p Please note that this Privacy Policy may change from time to time. If we make any material changes, we will notify you as required by law.
        br
        br
