extends ../layout

block content

  .page_body.padding_top_header
    // Privacy Policy
    section.privacy_policy_section.mwidth_680
      .resolution.padding_lr
        .hn2.ta_c
          h1 Terms of Service
        br
        .text_box.ta_j
          .hn3
            h3 TERMS OF USE
          p Welcome to BENCH805.com! We maintain this web site as a service to our customers. Please review the following Terms of Use carefully. Your use of this site constitutes your agreement to be bound by these Terms.
          .hn3
            h3 Acceptance of Agreement
          p The provisions in this section are referred to as the "Terms of Use" and constitute an agreement between you and BENCH805.com. You acknowledge and agree that you have read the Terms of Use carefully, understand each of them, and agree to be bound be all of them. If you do not agree to the Terms of Use, you may not access or otherwise use BENCH805.com and should exit the site.

          .hn3
            h3 Restrictions of Use
          p BENCH805.com subscriptions are non-transferrable and may not be shared with any other individual or organization without the prior written consent of BENCH805.com. You, your firm, your employees, and your partners specifically agree not to make any derivative work from the BENCH805.com website without the prior written consent of BENCH805.com. It is expressly agreed that you the subscriber and responsible party for your subscriber information will not sub-license, extract, copy, store, manipulate, package or prepare any derivative works and that the data will not be used for any commercial use. BENCH805.com warrants that providing the licensed data to you under this Agreement does not infringe on the proprietary rights of any third party. BENCH805.com retains all copyrights to the licensed data. You are responsible for all use of your account, user name and password and for preventing unauthorized use. If you believe there has been unauthorized use, you must notify BENCH805.com immediately. Failure to do so will result in the immediate forfeiture of your access to the BENCH805.com website, in addition to litigation for failure to comply with the Terms of Use of BENCH805.com. Additionally, you hereby acknowledge that you do not work for, represent, or contract for any direct competitor of BENCH805.com product offerings. All subscriber activity is closely monitored, including IP address locations of your login activity, searches performed within the premium portions of our website, views, and other specific information directly related to your use of the BENCH805.com website.
          .hn3
            h3 Modifications
          p BENCH805.com may modify the terms of this Agreement or any of the policies or guidelines governing the site, at any time and in its sole discretion, by posting the modified Terms of Use Agreement on the site. The modifications shall be effective upon such posting. You agree to review this Agreement periodically so that you are aware of any modifications. Your continued use of the site indicates your full acceptance of the Terms of Use Agreement in its then current form each time you use the site.

          .hn3
            h3 Acknowledgment of Copyright and Indemnity
          p BENCH805.com takes the matter of copyright violation very seriously. Any copyright violation by you the subscriber to BENCH805.com, whether it be theft of content related material, theft of data analyzed by BENCH805.com and available to premium subscribers, or private company regulatory filings obtained by BENCH805.com, will be legally pursued by BENCH805.com at $150,000 USD per violation or offense. We make all possible efforts to ensure all articles, data, academic papers, and other material on our website are properly cited. Many articles are peer reviewed and authors or copyright holders sign agreements granting BENCH805.com a sub-license or a license to publish the content either online or in any media, depending on the agreement. Users are expected to follow proper citation and copyright laws if the are using BENCH805.com content as a primary or secondary source in any publication or written document. Content providers, paid subscribers and the free users of BENCH805.com specifically agree to indemnify BENCH805.com against any copyright or intellectual property infringement case that may arise through the use of any content within the BENCH805.com website.

          p Assignment of Subscription or Contract. User agrees that their subscription to any BENCH805.com product or service may be assigned in part or in its entirety to any purchaser or exclusive licensor of all or substantially all of BENCH805.com business (or any asset or service pertaining to the line of business to which the Terms of Service relates).

          .hn3
            h3 Security
          p This web site takes every precaution to protect our users' information. When you submit sensitive information via the web site, your information is protected both online and off-line.
          p When our registration form asks you to enter sensitive information (e.g., credit card number, social security number), that information is encrypted and is protected with the best encryption software in the industry - Secure Socket Layer (SSL) protocol. While on a secure page, the lock icon at the bottom of the Microsoft Internet Explorer browser should be locked and the key icon on Netscape Navigator should be unbroken.

          .hn3
            h3  Notice of New Services and Charges
          p Occasionally, we may also use the information we collect to notify you about important changes to our web site, new services and special offers we think you will find valuable. As our client, you will be given the opportunity to notify us of your desire not to receive these offers by clicking on a response box when you receive such an offer or by sending us an e-mail at contact@BENCH805.com
          .hn3
            h3  Legally Compelled Disclosure of Information
          p We may disclose information when legally compelled to do so, in other words, when we, in good faith, believe that the law requires it or for the protection of our legal rights.
          .hn3
            h3 Links to Other Web Sites
          p BENCH805.com reviews all links to third party websites and takes very seriously the review of the third-party material.
          p Please remember that when you use a link to go from our web site to another web site, that that website has its own website policies. Your browsing and interaction on any other web site, including web sites which have a link on our web site, is subject to that web site's own rules and policies. Please read over those rules and policies before proceeding.

          .hn3
            h3 Limitation of Liability
          p The products offered by BENCH805.com are not a substitute for the full-scope purchase price allocation analysis conducted by qualified professionals.
          p The materials available on the site is provided "as is" without any express or implied warranty of any kind including warranties of merchantability, non-infringement of intellectual property, or fitness for any particular purpose. In no event shall BENCH805.com or its agents or officers be liable for any damages whatsoever (including, without limitation, damages for loss of profits, business interruption, loss of information) arising out of the use of or inability to use the materials, even if BENCH805.com has been advised of the possibility of such damages.
          p Each user of this system assumes all responsibility and risk for the use of the materials. BENCH805.com does not assume any legal liability or responsibility for the accuracy, completeness, or usefulness of any material on the sites. BENCH805.com will not be liable for any compensatory, special, direct, incidental, indirect, consequential damages, exemplary damages or any other damages resulting from loss of use, data, or profits, arising out of or in connection with the use or performance of the materials, however caused, whether for breach of contract, warranty, negligence, or otherwise, and whether of not BENCH805.com has been advised of the possibility of such damage.
          p If this limitation of liability or the exclusion of warranty is held inapplicable or unenforceable for any reason, then BENCH805.com’s maximum liability for any type of damages shall be limited to U.S. $100.00. These limitations will apply notwithstanding the failure of any essential purpose of any limited remedy.

          .hn3
            h3 Indemnification
          p You agree to indemnify, defend and hold BENCH805.com and its affiliates, and any of their officers, directors, owners, agents, employees, information providers, licensors and licensees (collectively, the "Indemnified Parties") harmless from and against any and all liability and costs, including, without limitation, attorneys' fees and costs incurred by the Indemnified Parties in connection with any claim arising from your violation of this Agreement, state or federal securities laws or regulations, or any third party's rights, including but not limited to infringement of any copyright, violation of any proprietary right and invasion of any privacy rights.
          .hn3
            h3 Use of Information
          p We reserve the right, and you authorize us to the use and assignment of all information regarding your use of the site and all information provided by you in any manner consistent with our&nbsp;
            a(href='/privacy_policy') Privacy Policy.
          .hn3
            h3 Governing Law
          p This Agreement shall be treated as though it were executed and performed in San Rafael, California, and shall be governed by and construed in accordance with the substantive law of the state of California, without regard to conflict of law provisions. Any cause of action by you with respect to BENCH805.com (and/or any information, products or services related thereto) must be instituted within one (1) year after the cause of action arose or be forever waived and barred. All legal proceedings arising out of or in connection with this Agreement shall be brought solely in San Rafael, California. You expressly submit to the exclusive jurisdiction of said courts and consent to extra-territorial service of process. Should any part of this Agreement be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions shall remain in full force and effect.
          .hn3
            h3 Entire Agreement
          p This Agreement constitutes the entire and only agreement between us and you and supercedes any and all prior or contemporaneous agreements, representations, warranties and understandings with respect to the site, the content, goods and services provided by or through the site, and the subject matter of this Agreement. To the extent that anything in or associated with the site is in conflict or inconsistent with this Agreement, this Agreement shall take precedence. Our failure to enforce any provision of this Agreement shall not be deemed a waiver of such provision nor of the right to enforce such provision. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of this Agreement.
          .hn3
            h3 Notice
          p Any notice to BENCH805.com that is required or permitted by this Agreement shall be in writing and shall be deemed effective upon receipt, when sent by confirmed e-mail or when delivered in person or mailed by first class, registered or certified mail, postage prepaid, to the address on our&nbsp;
            a(href='/terms_of_service', title='bench805.com | Terms of Service') Contact Us
            | &nbsp;page.
          p BENCH805.com prohibits visitors and paying subscribers to the website to perform any manual or programmatic gathering, scraping, use of spiders, bots, scripts, or use of other technology or software to access, or store, data and regulatory filings contained within the BENCH805.com website. BENCH805.com reserves the right to suspend or terminate your access to the website. The restrictions set forth in these Terms of Use shall survive the termination of any Agreement between you and BENCH805.com.
