doctype html
// saved from url=(0032)http://testsite7.evo-studio.net/
html.gr__testsite7_evo-studio_net(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='imagetoolbar', content='no')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='x-rim-auto-match', content='none')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content=' width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title
      | bench805.com | #{title}
    meta(name='keywords', content='purchase price allocation, benchmarking, benchmark, purchase accounting, intangible asset valuation, intangible assets, ASC 805, Topic 805, valuation, fair value, CEIV, goodwill, contingent consideration, PPA, M&A accounting, in-process R&D, customer relationships, intangible asset amortization, goodwill impairment, asset life, amortization, impairment, valuation specialist, IFRS 3, ASC 820')
    meta(name='description', content='Purchase accounting requires valuing assets and liabilities assumed in an M&A transaction. Valuation of intangible assets, contingent consideration and goodwill are the key in most purchase price allocations.  Benchmarking of similar purchase price allocation can provide insights about and assumptions for your next purchase price allocation project.')
    link(href='/css/css', rel='stylesheet')
    // css
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    link(rel='stylesheet', type='text/css', href='/css/animate.css')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/font-icons.css')
    link(rel='stylesheet', type='text/css', href='/css/popup.css')

    link(rel='stylesheet', type='text/css', href='/css/uploadfile.css')
    link(rel='stylesheet', type='text/css', href='/css/togglebtnstyle.css')
    // favicon
    link(rel='apple-touch-icon', type='text/css', href='/favicon.png')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    // js
    script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='/js/jquery.validate.js')
    script(type='text/javascript', src='/js/scripts.js')
    script(type='text/javascript', src='/js/jquery.leanModal.min.js')

  body(data-gr-c-s-loaded='true')
    #page_preloader()
      span.loader(style='display: none;')
    // loader
    #main_container

      include partials/header
      include partials/footer
      // ======================== BODY ==========================
      block content
