// ======================== FOOTER ========================
footer.main_footer
  .footer_top
    .resolution
      .footer_menu.align_c
        nav
          a(href='/dashboard', title='bench805.com | Benchmarking')
            | Benchmarking
          a(href='/about', title='bench805.com | About')
            | About
          a(href='mailto:info@bench805.com?subject=Feedback', title='bench805.com | Get in Touch', target='_blank')
            | Get in Touch
          a(href='/terms_of_service', title='bench805.com | Terms of Service')
            | Terms of Service
          a(href='/privacy_policy', title='bench805.com | Privacy Policy')
            | Privacy Policy
          a(href='http://sorbusadvisors.com/', title='bench805.com | Sorbus Valuation', target='_blank')
            | Sorbus Valuation
      .footer_soc_icns
        a.fa.fa-linkedin-square(aria-hidden='true', target='_blank', href='https://www.linkedin.com/company-beta/1169022')
        a.fa.fa-twitter(aria-hidden='true', target='_blank', href='https://twitter.com/SorbusValuation')
  .footer_bottom
    .resolution.align_c
      .footer_bottom_content
        .footer_copy
          span &copy; 2017  bench805.com. All rights reserved
      .btn_scrollup
        a(href='/#') UP
